# systemd unit file for gitsync

[Unit]
Description=Service for keeping git repos in sync
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/gitsync --daemon --verbose > /var/log/gitsync &2

[Install]
WantedBy=multi-user.target
